<body>
            <div class="grid-container">
                            <div class="Posts"><br>
                                        <div class="title-text"><b>{{currentPost.title}}</b><br>
                                            {{currentPost.username}} | {{formatDate currentPost.createdAt}}<br>
                                                <img id="viewFullImage" src="/{{currentPost.image}}"><br>
                                             {{currentPost.description}}
                                        </div>
                            </div>

                        <!Area to submit a comment>
                            <div class="commentForm">
                                <form id="CommentForm">
                                <label for="PostComment">Enter a Comment:</label><br>
                                    <textarea id="comment-text" rows="16" cols="50" placeholder="Comment here"></textarea> <br><br>

                                    <label for ="comment-button" class="custom-comment-button">Comment</label>
                                    <input type="submit" id="comment-button" data-postid="{{currentPost.id}}" class="fa fa-comment comment-box-button" aria-hidden="true"></input><br>

                                </form>

                            </div>
            </div>
            <div id="comment-list">
                {{#each currentPost.comments}}
                    {{> comment this}}
                {{/each}}
            </div>


            <br>

</body>

